html,
body {
    height: 100%;
    overflow-y: hidden;
}

body {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    font-family: 'Lato', sans-serif;
    color: white;
}

h1{
    margin-top: 0;
    margin-bottom: 0;
    line-height: normal;
    display: flex;
    align-items: center;
    height: 40%;
}

.container {
    height: 100%;
    display: block;
}

.tab-content{
    height: 100%;
    display: block;
}

.tab-pane{
    height: 100%;
    display: block;
}

.temp {
    width: 50%;
    display: block;
    padding: 1%;
    height: 40%;
    margin-bottom: 5%;
}

.temp-ledBtn {
  width: 100%;
  display: block;
  padding: 1%;
  height: 40%;
  margin-bottom: 5%;
}

.cards {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1%;
}

.card {
    margin: 1%;
    background-color: rgba(35, 40, 11, 0.4);
    color: white;
    border-radius: 10px;
    border: #000000;
    width: 45%;
}

.card-home{
    width: 20%;
    height: 10%;
    display: block;
    margin-top: 5%;
}


.card-control{
    padding: 3%;
}

.card h1{
    text-align: center;
    height: 100%;
}

a.btn.btn-primary.stretched-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

.temp {
    display: block;
}

.tempRow {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: normal;
    display: flex;
    align-items: center;
    height: 40%;
}

.timeRow{
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%;
    line-height: normal;
    display: flex;
    align-items: center;

}

.dateRow{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3%;
    line-height: normal;
    display: flex;
    align-items: center;

}

.weatherIcon {
    height: 8rem;
    width: 8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: baseline;
}

input#colorPicker{
    width: 100%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #socketControl {
    width:50%;
    justify-content: center;
    align-items: center;
    display:flex;
  }

  .socketBtn {
    height: 50%;
    width: 50%;
    background-image: url('button.png');
    background-size:contain;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
  }

  .button {
    /* 	design the outer circle */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    box-shadow: 0 0 5px 0px #888;
    position: relative;
    display: grid;
    place-items: center;
}

.button::before {
  /* pseudo-elements don't appear unless content property is declared */
  content: "";

  /* design the element */
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 7px solid #eeeeee;
  position: absolute;
}

.bar {
  height: 20%;
  width: 2px;
  background: #ffffff;
  border-radius: 5px; /* for rounded ends */
  position: absolute; 
  top: 30px;
  box-shadow: 0 0 0 4px white;
}

.button:active {
  box-shadow: 0 0 10px 0px #888 inset;
}

.button.active {
  border-color: lightgreen; /* изменяем цвет границы */
}

.button.active .bar,
.button:active .bar {
  background: lightgreen; /* изменяем фоновый цвет */
  box-shadow: 0 0 0 4px lightgreen; /* изменяем цвет тени */
}

.button.active::before,
.button:active::before {
  border-color: lightgreen; /* изменяем фоновый цвет */
}

.button:hover {
  cursor: pointer;
}

.mode-container {
  display: flex;
  align-items: center;
}

.mode-container h3 {
  margin-right: 10px;
}

.cslider {
  width: 100%;
  height: 25px;
  background: linear-gradient(to right, red, yellow, lime, cyan, blue, magenta, red);
  cursor: pointer;
  appearance: none;
  outline: none;
}

.cslider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: white;
  border: 1px solid black;
  cursor: pointer;
}

.cslider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: white;
  border: 1px solid black;
  cursor: pointer;
}