html,
body {
    height: 100%;
    overflow-y: hidden;
}

body {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    font-family: 'Lato', sans-serif;
    color: white;
}


.container {
    height: 100%;
    display: block;
    padding: 1%;
}

.temp {
    width: 100%;
    padding: 3%;
    height: 50%;
}

.cards {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1%;
}

.card {
    margin: 1%;
    background-color: rgba(35, 40, 11, 0.3);
    color: white;
    border-radius: 10px;
    border: #000000;
    height: 40%;
    width: 45%;
}

a.btn.btn-primary.stretched-link {
    opacity: 0;
}

.temp {
    display: block;
}

.tempRow {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: normal;
    display: flex;
    align-items: center;
}

.timeRow{
    font-size: 6rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%;
    line-height: normal;
    display: flex;
    align-items: center;
}

.dateRow{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%;
    line-height: normal;
    display: flex;
    align-items: center;
}

.weatherIcon {
    height: 8rem;
    width: 8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: baseline;
}